/************************************header*******************************************/
header{
    height: 100vh;
    background-image: url(../img/drew-coffman-1872.jpg);
    background-size: cover;
    background-position: center center;
}
nav ul li a{
    padding: 20px !important;
    font-size: 18px !important;
    font-weight: 500 !important;
}
nav ul li a:hover{
    color: #09c !important;
}
.home h5 ,.home p,.home h1{
    color: white;
}
.home h1{
    font-size: 76px;
    font-weight: 700;
}
.home h5,.home p{
    font-size: 22px;
    font-weight: 400;
}
.learn-btn{
    background-color: #8E7754;
    border: 2px solid #8E7754;
}
.learn-btn:hover{
    background-color: #fff;
    color: black !important;
    border: white;
}
.Contact-btn {
    border: 2px solid white;
}
.Contact-btn:hover{
    background-color: #8E7754;
    color: black !important;
    border: white;
}
.icons{
    position: fixed;
    top: 35%;
    right: 0px;
    width: 40px;
    height: 80px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}
.icons i{
    font-size: 20px;
    color: gray;
    transition: all .3s;
}
.icons i:hover{
    color: rgb(7, 166, 219);
}
.one {
    width: 40px;
    height: 60px;
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%);
    border-radius: 100px;
}

.two {
    border-radius: 5px;
    width: 10px;
    height: 10px;
    position: relative;
    animation: move 3s infinite;
}

@keyframes move {
    from {
        top: 0;
    }

    to {
        top: 80%;
    }
}
/************************************About*******************************************/
.about-content ul li i,.Contact-content ul li i{                                                                /********Jokeeer**********/
    color: #8e7754;
    font-size: 22px;
    border: 1px gray solid;
    border-radius: 50%;
    padding: 10px;
    margin:0px 10px 10px 0px;
}
.about-content p,.about-content ul li h5 ,.offer-content p,.Gallery p,.Contact-content ul li h5,.Contact p,.Contact-content ul li a{  /********Jokeeer**********/
    font-size: 17px;
    font-weight: 400;
    color: #686868;
}
.about-content ul li h5{
    margin-top: 10px;
}
/************************************our-offer*******************************************/
.our-offer,.Contact{                                                                                                 /********Jokeeer**********/
    background-color: #F8F8F8;
}
/************************************Contact*******************************************/
.Contact-content ul li i{
    background-color: #8e7754;
    color: #fff;
    border: none;
}
.Contact-content ul li h5,.Contact-content ul li a{                                                               /********Jokeeer**********/
    margin-top: 12px;
}
.Contact-content ul li a,.Contact-Details p a{
    text-decoration: none;
    transition: all .5s;
}
.Contact-content ul li a:hover,.Contact-Details p a:hover{                                                      /********Jokeeer**********/
    color: black;
}
/************************************footer*******************************************/
footer{
    background-color: #403D38;
}
footer p,.Contact-Details p a{
    color: #969696;
}
.Contact-Details-background{
    width: 100%;
    height: 100%;
    background-image: url(../img/contact-details-map.png);
    background-repeat: no-repeat;
    position: absolute;
    top: 30%;
    left: 0;
    opacity: .2;
}
.footer-after::after{
    content: '';
    width: 100%;
    height: 1px;
    position: absolute;
    top: 120%;
    left: 0;
    background-color: #4A4742;
}
.end-footer{
    background-color: #353330;

}
.end-footer ul li{
list-style: none;
}
.end-footer ul li i{
    font-size: 25px;
    margin: 15px;
    border: none;
    border-radius: 50%;
    padding: 10px;
    background-color: #484540;
    transition: all .5s;
}
.end-footer ul li a{
    color: #969696;
}
.end-footer ul li i:hover{
    color: #fff;
}
.fa-facebook:hover{
    background-color: #146EBE ;
}
.fa-google:hover{
    background-color: #E94235 ;
}
.fa-linkedin:hover{
    background-color: #0A66C2 ;
}
.fa-twitter:hover{
    background-color: #1DA1F2 ;
}